@{Layout = "_Layout";}

@using HairSalon.Models;

<div class="stylistDetails">
  <h3>Stylist Details:</h3>
  <hr>
  <h5>Name: @Model.Name</h5>
  <h5>Description: @Model.Description</h5>
  <div class="clients">
    @if(Model.Clients.Count == 0)
    {
      <h4>This stylist has no clients yet!</h4>
    }
    @foreach (Client client in Model.Clients)
    {
      <div class="clientDiv">
        <h4>@client.Name</h4>
      </div>
    }
  </div>
</div>

<p>@Html.ActionLink("Add new Client", "Create", "Clients", new { id = Model.StylistId }, new { @class = "btn btn-success"})</p>
<p>@Html.ActionLink("Back", "Index", null, null, new { @class = "btn btn-danger"})</p>