@{Layout = "_Layout";}

@model HairSalon.Models.Stylist

@using (Html.BeginForm())
{
  <h4>Add new Stylist</h4>
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  <input class="button btn btn-success btn-block" type="submit" value="Submit" />
  <p>@Html.ActionLink("Go Back", "Index", null, null, new { @class = "btn btn-danger" } )</p>
}
